/* Please Make only Rhino and Zebra Blue */
.top h2 {
    color: blue;
}
/* Please Make only Hufflepuff Gold */
#bestHouse {
    color: gold;
}
/* Please select Duck with the highest level of specificity possible */
.fight10or100 h2{
    color: orange;
}
/* Please select Rhino with the highest level of specificity possible */
