* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

header,footer {
    border:1px solid black;
    min-height: 200px;
    clear:both;
}

section.firstSection section {
    float: left;
    border: 1px solid black;
    width: 33.33%;
    min-height: 200px;
}

section.secondSection {
    clear: both;
}

section.secondSection section {
    float: left;
    border: 1px solid black;
    width: 50%;
    min-height: 200px;
}


/* phone size device */
@media screen and (max-width: 454px) {
    section.firstSection section{
        width: 100%;
    }
    section.secondSection section{
        width: 100%;
    }
}

/* tablet size device */
@media (min-width: 455px) and (max-width: 900px) {
    section.firstSection section{
        width: 100%;
    }
}




