h1 {
    padding: 20px 20px 20px 0px;
    margin-left: 20px;
    background: violet;
}

h2 {
    padding: 20px 0px;
    border-top: 5px solid darkgreen;
    border-bottom: 5px solid darkgreen;
    background: orange;
}

section {
    border: 5px solid blue;
    height: 300px;
    margin-top: 420px;
}

span {
    border: 5px solid yellow;
    padding: 15px;
    margin: 15px;
}