/* BASE */
html {
    font-size: 12px;
}

/* LAYOUT */
h1 {
    text-align: center;
}

section.main {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80%;
    margin: 0 auto;
}

section.IOkeypad {
    border: 1px solid black;
    width: 70%;
    height: 500px;
    display: flex;
    flex-direction: column;
}

section.IOScreen {
    width: 100%;
    background-color: lightblue;
    height: 30%;
    border-bottom: 3px solid black;
    position: relative;
}

#IOText {
    position: absolute;
    right: 0;
    bottom: 0;
}

section.keypad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:flex-end;
    min-height: 75%;
} 

section.numButtonsSec {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 75%;
    min-height: 100%;
}

section.operatorsSec {
    display: flex;
    flex-wrap: wrap;
    min-width: 25%;
    min-height: 100%;
}

section.numButtonsSec button {
    flex: 0 0 33.333333%;
}

section.operatorsSec button {
    flex: 0 0 100%;
}


#calcHistorySection {
    border: 1px solid black;
    width: 30%;
    height: 500px;
}

.calcSpan {
    display: block;
    font-size: 1.5rem;
    margin-left: 3px;
}

#backSpaceButton {
    font-size: 0.8rem;
}

/* COMPONENTS */
#IOText {
    font-size: 3rem;
}